<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div id="container">
        <nav>
            <div id="logo">Product Catalog</div>
            <ul>
                <li><a routerLink="/dashboard">Dashboard</a></li>
                <p style="color: white;padding-top: 19px;padding-left: 5px;padding-right: 15px;font-weight: bold;">Welcome, {{username}}</p>
                <li><a routerLink="/">Logout</a></li>
            </ul>
        </nav>
    </div>
  </body>